@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');

body{
    font-family: 'Fira Code', monospace;
    background-color: #1E1E1E;
}

.container{
    max-width: 1084px;
    padding: 0;
    margin: 0 auto;
    background-color: #282C33;
}

/*Header*/
/*.header{
    /*padding-top: 32px;*/
   /*padding-bottom: 77px;
   
}*/

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 32px;
    margin-bottom: 130px;
}

.img_logo{
    margin-right: 8px;
}

.logo{
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

/*Navigation*/

.nav-list{
    display: flex;
    column-gap: 32px;
    font-weight: 400;
    font-style: 16px;
}

.nav-link{
    color:#ABB2BF;
}

.nav-link::before{
    content:"#";
    color: #C778DD;
}

.nav-link.active{
    color: #FFFFFF;
}

/*header-content*/

.header-row{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.header-content{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 32px;
    width: 500px;
}

.purple{
    color: #C778DD;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
}

.Iam{
    font-weight: 600;
    font-size: 32px;
    margin-top: 24px;
}

.button{
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #C778DD;
    width: 140px;
    height: 35px;
    text-align: center;  
    padding-top: 5px;
    margin-top: 32px;
}

.header-img{
    padding-bottom: 77px;
    margin-right: 36px;
    max-width: 420px;
}
/*при полном экране красиво, когда сжимаешь все теряется, нужно задать размеры
еще сжалась надпись фронтеда*/
#squares, #img-me, #dots{
    position: relative;
}

#squares{
    right: -285px;
    bottom: -20px
}

#dots{
    right: -400px;
    bottom: -225px;
}

#squares{
    z-index: 1;
}
#img-me{
    z-index: 2;
}
#dots{
    z-index: 3;
}

.img-me{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
}
.status{
    position: relative;
    padding-left: 32px;
    padding-right: 80px;
    font-weight: 500;
    font-size: 16px;
    color: #ABB2BF;
    border: 1px solid #ABB2BF;
    width: 402px;/*все ломается при сжатии, но зато нет переноса*/
    /*height: 36px;*/
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 1;
    
}

.white{
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.status::before{
    position: absolute;
    left:0;
    margin-left: 8px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #C778DD;
    
}

/*projects*/

.project-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
}

.title{
    position: relative;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
}

.title::before{
    content: "#";
    color:#C778DD;
}

.p-title::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 190px;
    max-width: 511px;
    height: 1px;
    background-color: #C778DD;
}

.project-card{
 margin-top: 48px;
}

.project-card-title{

}

/*skils*/

.s-title::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 152px;
    max-width: 239px;
    height: 1px;
    background-color: #C778DD;
}

.skills-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 81px;
}

.skills-img{
    padding-left: 27px;
    padding-top: 22px;
}

.skills-card-row{
    display: flex;
    justify-content: space-between;
    
}
/*contacts*/

.c-title::after{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 189px;
    max-width: 127px;
    height: 1px;
    background-color: #C778DD;
}

.contacts-row{
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-bottom: 512px;
}

/*footer*/

.footer-row{
    display: flex;
    justify-content: space-between;
}