@media(max-width: 468px){
    .status::before{
        margin-top: 8px; 
     }

     .p-title::after, .s-title::after, .c-title::after{
        width: 100px;
    }
}

@media (max-width: 1024px){
   
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
    /* navigation */
    .nav-list{
        display: none;
    }

    .nav-btn{
        display: block;
    }
    .nav-resume{
        display: block;
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        border: 1px solid #C778DD;
        width: 140px;
        height: 35px;
        text-align: center;  
        padding-top: 5px;
        /* margin-top: 32px; */
    }

    .nav.open .nav-list{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #282C33;
        
        z-index: 1;
        padding: 30px 16px;
        display: flex;
        flex-direction: column;
        row-gap: 32px;

        font-size: 32px;
        font-weight: 400;

    }

    .nav-btn{
        position: fixed;
        z-index: 9;
        top: 30px;
        right: 16px;
    }

    /* header */
    .header-row{
        flex-direction: column;
    }
    
    .header-nav{
        margin-bottom: 42px;
    }

    .header-content{
        font-size: 28px;
    }

    .Iam{
        font-size: 28px;
    }

    /* .header-img{
        padding-left: 20px;
    } */

    /* #squares, #dots{
        display: none;
    } */
    

    .img-me{
        position: none;
        width: 320px;
    }

     /* .status{
        align-items: center;
    }  */
    /* .status::before{
        margin-left: 28px;
    } */

    .button{
        display: none;
    }

    /* projects */

    .project-row{
        flex-direction: column;
    }
    .project-card{
        width: 100%;
    }
    /* skills */
    .skills-img{
        display: none;
    }

    .skills-card-row{
        justify-content: space-evenly;
        flex-basis: 1024px;
        padding-left: 0;
    }

    /* contacts */
    .contacts-row{
        flex-flow: column wrap;
        padding-bottom: 300px;
        padding-top: 20px;
    }
    .contacts-text{
        padding-bottom: 32px;
    }

    /* footer */
    .footer-logo{
        flex-direction: column;
    }

    .footer-media{
        display: none;
    }
}
